<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <style>
        body {
            text-align: center;
            padding: 50px;
            font-family: Arial, sans-serif;
        }
        h1{
            color: darkred;
        }
        p{
            color:darkred;
        }
    </style>
</head>
<body>
    <h1>Oops! Page not found.</h1>
    <img src="404.png" alt="" srcset="">
    <p>We can't seem to find the page you're looking for.</p>
</body>
</html>